#app, #SimulacionClientes, #AsientosSimulacion, #PasajerosSimulacion, #ReservacionesSimulacion,
#EntrarSimulacion, #NavBarApp {
    display: none;
}

body {
    background-color: #1F2937;
}

.BorderPadding {
    padding-top: 75px;
    padding-bottom: 75px;
}

#launcher {
    width: 100%;
    height: 100vh;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
}

#VuelosModalContent, #DescuentosContent, #ClientesContent, #ServiciosContent, #EndSimulacionContent {
    display: flex;
    justify-content: space-around;
}

#DescuentosSelect {
    width: 100px;
}

#CrearVuelos, #VerVuelos,
#CrearDescuentos, #VerDescuentos,
#CrearClientes, #VerClientes,
#CrearServicios, #VerServicios {
    flex: 1;
}

.ModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.ModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
}

.ModalBackdrop.show {
    display: flex;
}

.fila { 
    display: flex; 
}
.asiento { 
    width: 3.1rem;
    height: 3.1rem;
}

.asiento:hover { 
    transform: scale(1.1); 
    transition: all 0.2s ease;
}
.disponible { 
    background-color: grey !important; 
}
.seleccionado { 
    background-color: green !important; 
}
.ocupado { 
    background-color: red !important; 
}